[Unit]
Description=Scailx simple python webgui
After=go2rtc.service

[Service]
ExecStart=python3 /usr/bin/ui_scailx_py/server.py run

[Install]
WantedBy=multi-user.target
