[Unit]
Description=Scailx simple python webgui
After=go2rtc.service

[Service]
ExecStart=python3 /home/root/scailx_python_webgui/server.py

[Install]
WantedBy=multi-user.target
